@import "https://unpkg.com/open-props";

/* ROOT */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img,
svg {
    max-width: 100%;
}

/* Fonts */

/* @font-face{
    font-family: Righteous;
    src: url(../../../Fonts/Righteous-Regular.ttf);
} */

/* Variables */

:root {

    /* Colors */

    --slate: rgba(217,217,217,0.75);
    --light-bkg-rec: rgba(255,255,255,0.20);
    --sun-yellow: #eaff00;
    --sky-blue: #3083FF;
    --black: #000000;
    --white: #FFFFFF;

    /* Linear Gradients */

    --light-bkg-grad: linear-gradient(180deg, #3083FF 0%, rgba(48, 131, 255, 0) 100%);
    --dark-bkg-grad: linear-gradient(180deg, #000000 0%, #3083FF 100%);

    /* box-shadow */

    --box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

/* Component Styles */

.slate {
    background-color: var(--slate);
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--box-shadow);
    width: 80%;
    margin: var(--size-fluid-3) auto;
    max-width: 750px;
    animation: var(--animation-slide-in-right) forwards;
    animation-duration: 1.5s;
}

.ani-left {
    animation: var(--animation-slide-in-left) forwards;
    animation-duration: 1.5s;
}

.slate-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--size-fluid-1);
    flex-direction: column;
}

.yellow {
    display: flex;
    justify-content: center;
    background-color: var(--sun-yellow);
    width: 75%;
    margin: var(--size-fluid-2) auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow);  
}

.page-header {
    text-shadow: var(--box-shadow);
}

/* Layout */

body {
    font-family: 'Inter';
    width: 100%;
    min-height: 100vh;
    background: var(--dark-bkg-grad);
}

#main-wrapper {
    overflow: hidden;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#bkg-rec {
    display: flex;
    flex-direction: column;
    background-color: var(--light-bkg-rec);
    width: 80%;
    margin: var(--size-fluid-1) auto 0;
}

/* Navbar */

#logo-wrapper {
    display: flex;
    margin: 0 auto;
}

#logo {
    padding: var(--size-fluid-1) 0;
    margin: 0 auto;
    max-height: 200px;
}

#nav-wrapper {
    margin: var(--size-fluid-1) auto;
    padding: var(--size-fluid-2);
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    min-height: 43px;
}

#nav-links {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: var(--size-fluid-3);
}

.link-li-collapse {
    display: none;
}

.link-li-static {
    display: flex;
    justify-content: center;
    background-color: var(--sun-yellow);   
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

#menu-btn[aria-expanded="true"] ~ .link-li-collapse{
    display: list-item;
    list-style: none;
}

#menu-btn {
    position: absolute;
    cursor: pointer;
    left: var(--size-1);
    top: 3px;
}

.links-li {
    color: white;
}

.links-anc {
    color: white;
    text-decoration: none;
}

a.link-anc-static {
    font-weight: 500;
    color: black;
    padding: 10px;
}

.link-li-static:hover {
    background-color: var(--slate);
}

.link-li-static:hover > .link-anc-static{
    color: var(--sun-yellow);
}

.link-li-collapse:hover > .link-anc-collapse {
    color: var(--sun-yellow);
    transition: 0.5s;
}